@import url(../bower_components/normalize.css/normalize.css);

@import url(../bower_components/circliful/css/jquery.circliful.css);

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

/* Slider */

.slick-loading .slick-list {
	background: #fff url("/ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
	font-family: "slick";
	src: url("./fonts/slick.eot");
	src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -10px;
	padding: 0;
	border: none;
	outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	color: white;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}

.slick-prev:before {
	content: "←";
}

[dir="rtl"] .slick-prev:before {
	content: "→";
}

.slick-next {
	right: -25px;
}

[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}

.slick-next:before {
	content: "→";
}

[dir="rtl"] .slick-next:before {
	content: "←";
}

/* Dots */

.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0px;
	font-size: 0px;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 6px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	color: black;
	opacity: 0.75;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font: 16px/1.5 "proxima-nova";
}

@font-face {
	font-family: "manners";
	src: url('../icons/fonts/manners.eot');
	src: url('../icons/fonts/manners.eot?#iefix') format('eot'), url('../icons/fonts/manners.woff') format('woff'), url('../icons/fonts/manners.ttf') format('truetype'), url('../icons/fonts/manners.svg#manners') format('svg');
}

.icon-booking,
.icon-clock,
.icon-cost,
.icon-dmpicto,
.icon-DM_logo_mono,
.icon-email,
.icon-email2,
.icon-facebook,
.icon-facebook2,
.icon-google,
.icon-google2,
.icon-home,
.icon-instagram,
.icon-instagram2,
.icon-left,
.icon-linkdin,
.icon-linkdin2,
.icon-logo,
.icon-mic,
.icon-phone,
.icon-phone2,
.icon-right,
.icon-twitter,
.icon-twitter2,
.icon-user {
	font-family: "manners";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	text-transform: none;
}

.icon-booking:before {
	content: "\e001";
}

.icon-clock:before {
	content: "\e002";
}

.icon-cost:before {
	content: "\e003";
}

.icon-dmpicto:before {
	content: "\e004";
}

.icon-DM_logo_mono:before {
	content: "\e005";
}

.icon-email:before {
	content: "\e006";
}

.icon-email2:before {
	content: "\e007";
}

.icon-facebook:before {
	content: "\e008";
}

.icon-facebook2:before {
	content: "\e009";
}

.icon-google:before {
	content: "\e00a";
}

.icon-google2:before {
	content: "\e00b";
}

.icon-home:before {
	content: "\e00c";
}

.icon-instagram:before {
	content: "\e00d";
}

.icon-instagram2:before {
	content: "\e00e";
}

.icon-left:before {
	content: "\e00f";
}

.icon-linkdin:before {
	content: "\e010";
}

.icon-linkdin2:before {
	content: "\e011";
}

.icon-logo:before {
	content: "\e012";
}

.icon-mic:before {
	content: "\e013";
}

.icon-phone:before {
	content: "\e014";
}

.icon-phone2:before {
	content: "\e015";
}

.icon-right:before {
	content: "\e016";
}

.icon-twitter:before {
	content: "\e017";
}

.icon-twitter2:before {
	content: "\e018";
}

.icon-user:before {
	content: "\e019";
}

.center {
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
}

::-moz-selection {
	background: #8ab6c7;
	text-shadow: none;
}

::selection {
	background: #8ab6c7;
	text-shadow: none;
}

.t-Title {
	font-size: rem-calc(40px);
	color: #545352;
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 18px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	padding: 60px 0 20px 0;
	max-width: 660px;
}

.t-Title span {
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.t-Title span:before,
.t-Title span:after {
	display: block;
	content: "";
	height: 1px;
	background: #bab9b8;
	position: absolute;
	left: -1000%;
	right: 100%;
	top: 50%;
	margin-top: -1px;
}

.t-Title span:after {
	left: 100%;
	right: -1000%;
}

.t-MoreButton {
	display: inline-block;
	padding: 10px 15px;
	background: transparent;
	color: #000;
	text-decoration: none;
	-webkit-transition: 200ms;
	transition: 200ms;
	font-weight: 100;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #000;
	letter-spacing: 1px;
	word-spacing: 4px;
}

.t-MoreButton:hover {
	background: #000;
	color: #FFF;
	border-color: #000;
}

.t-input-Select {
	background: #545352;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	-webkit-transition: 200ms;
	transition: 200ms;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-right: 10px;
}

.t-input-Select option {
	background: transparent;
}

.t-input-Select:hover {
	background: #474645;
}

.t-input-Select:hover:after {
	background-color: #474645;
}

.t-input-Select:active {
	-webkit-transform: scale(0.97);
	-ms-transform: scale(0.97);
	transform: scale(0.97);
	-webkit-transition: 60ms;
	transition: 60ms;
}

.t-input-Select:after {
	display: block;
	content: "";
	position: absolute;
	width: 40px;
	height: 100%;
	line-height: 43px;
	font-size: 0.75em;
	color: #999999;
	top: 0;
	right: 0;
	text-align: center;
	background: no-repeat center center;
	background-color: #545352;
	pointer-events: none;
	-webkit-transition: 200ms;
	transition: 200ms;
}

.t-input-Select select {
	border: 0;
	-webkit-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	padding: 9px 10px 8px;
	outline: none;
	cursor: pointer;
	color: #4d4d4d;
	display: block;
	background: #FFF;
	background: transparent;
	padding-right: 40px;
	display: block;
}

.t-input-Select select[disabled] {
	color: rgba(0, 0, 0, 0.3);
}

img {
	max-width: 100%;
	height: auto;
}

a {
	cursor: pointer;
}

.flowerOverlay,
.flowerOverlay--White {
	font-size: rem-calc(1200px);
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	line-height: 0.6;
	bottom: 0;
	color: #000;
	opacity: 0.05;
	z-index: -1;
}

.flowerOverlay--White {
	color: #FFF;
	opacity: 0.1;
	bottom: -200px;
}

