@import "neat/neat-helpers";

// Change the grid settings
$column: 65px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1000px;

$fg-column: $column;
$fg-gutter: $gutter;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Define your breakpoints
$tablet-wide: new-breakpoint(max-width 960px 12);
$tablet: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 480px 12);