// COLORS
  $brand: #68A1B6;
  $blue: #588B97;

  $white: #FFF;
  $gray: #545352;
  $lgray: #F5F5F5;
  $black: #000;

  $facebook: #3B5997;
  $twitter: #4099FF;
  

// TYPE
  $font-size: 16px;
  $line-height: 1.5;
  $museo: "museo-sans", Arial, sans-serif;
  $proxima: "proxima-nova";

  $light: 100;
  $regular: 400;
  $bold: 600;
  $ultra: 900;

  $xxsmall: em(10px);
  $xsmall: em(12px);
  $small: em(14px);
  $medium: em(16px);
  $large: em(18px);
  $xlarge: em(20px);
  $xxlarge: em(24px);
  $slider: em(54px);
  $title: em(32px);

// DEFAULTS
  body { font: #{$font-size}/#{$line-height} $proxima; }