  <footer class="siteFooter" role="contentinfo">
    
  </footer>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/slick.js/slick/slick.min.js"></script>
	<script src="js/scripts.js"></script>	

</body>
</html>