@@include('partials/header.html', {
  "title": "Homepage"
})

  <main class="mainWrapper" role="main">
    <section class="homeSlider js-HomeSlider">
      <div class="homeSlider__Slide">
        <img src="http://placehold.it/1440x600" alt="">
      </div>

      <div class="homeSlider__Slide">
        <img src="http://placehold.it/1440x600" alt="">
      </div>

      <div class="homeSlider__Slide">
        <img src="http://placehold.it/1440x600" alt="">
      </div>
    </section>
  </main>

@@include('partials/footer.html')