@font-face {
  font-family: "manners";
  src: url('../icons/fonts/manners.eot');
  src: url('../icons/fonts/manners.eot?#iefix') format('eot'),
  url('../icons/fonts/manners.woff') format('woff'),
  url('../icons/fonts/manners.ttf') format('truetype'),
  url('../icons/fonts/manners.svg#manners') format('svg');
}

%icon {
  font-family: "manners";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

  @function icon-char($filename) {
    $char: "";
    
      @if $filename == booking {
        $char: "\e001";
        }
      @if $filename == clock {
        $char: "\e002";
        }
      @if $filename == cost {
        $char: "\e003";
        }
      @if $filename == dmpicto {
        $char: "\e004";
        }
      @if $filename == DM_logo_mono {
        $char: "\e005";
        }
      @if $filename == email {
        $char: "\e006";
        }
      @if $filename == email2 {
        $char: "\e007";
        }
      @if $filename == facebook {
        $char: "\e008";
        }
      @if $filename == facebook2 {
        $char: "\e009";
        }
      @if $filename == google {
        $char: "\e00a";
        }
      @if $filename == google2 {
        $char: "\e00b";
        }
      @if $filename == home {
        $char: "\e00c";
        }
      @if $filename == instagram {
        $char: "\e00d";
        }
      @if $filename == instagram2 {
        $char: "\e00e";
        }
      @if $filename == left {
        $char: "\e00f";
        }
      @if $filename == linkdin {
        $char: "\e010";
        }
      @if $filename == linkdin2 {
        $char: "\e011";
        }
      @if $filename == logo {
        $char: "\e012";
        }
      @if $filename == mic {
        $char: "\e013";
        }
      @if $filename == phone {
        $char: "\e014";
        }
      @if $filename == phone2 {
        $char: "\e015";
        }
      @if $filename == right {
        $char: "\e016";
        }
      @if $filename == twitter {
        $char: "\e017";
        }
      @if $filename == twitter2 {
        $char: "\e018";
        }
      @if $filename == user {
        $char: "\e019";
        }

    @return $char;
  }

  @mixin icon($filename, $insert: before) {
    @extend %icon;
    &:#{$insert} {
      
      content: icon-char($filename);
    }
  }

  .icon-booking {
    @include icon(booking);
  }
  .icon-clock {
    @include icon(clock);
  }
  .icon-cost {
    @include icon(cost);
  }
  .icon-dmpicto {
    @include icon(dmpicto);
  }
  .icon-DM_logo_mono {
    @include icon(DM_logo_mono);
  }
  .icon-email {
    @include icon(email);
  }
  .icon-email2 {
    @include icon(email2);
  }
  .icon-facebook {
    @include icon(facebook);
  }
  .icon-facebook2 {
    @include icon(facebook2);
  }
  .icon-google {
    @include icon(google);
  }
  .icon-google2 {
    @include icon(google2);
  }
  .icon-home {
    @include icon(home);
  }
  .icon-instagram {
    @include icon(instagram);
  }
  .icon-instagram2 {
    @include icon(instagram2);
  }
  .icon-left {
    @include icon(left);
  }
  .icon-linkdin {
    @include icon(linkdin);
  }
  .icon-linkdin2 {
    @include icon(linkdin2);
  }
  .icon-logo {
    @include icon(logo);
  }
  .icon-mic {
    @include icon(mic);
  }
  .icon-phone {
    @include icon(phone);
  }
  .icon-phone2 {
    @include icon(phone2);
  }
  .icon-right {
    @include icon(right);
  }
  .icon-twitter {
    @include icon(twitter);
  }
  .icon-twitter2 {
    @include icon(twitter2);
  }
  .icon-user {
    @include icon(user);
  }
  