// ESSENTIALS
.center { padding-left: 10px; padding-right: 10px; box-sizing: content-box; margin-left: auto; margin-right: auto; }
::selection { background: lighten($brand,10%); text-shadow: none; }

// BLOCKS
.t-Title { font-size: rem-calc(40px); color: $gray; display: block; text-transform: uppercase; font-weight: normal; letter-spacing: 18px; position: relative; text-align: center; overflow: hidden; margin: 0 auto; padding: 60px 0 20px 0; max-width: 660px;
  span { position: relative; display: inline-block; padding: 0 20px;
    &:before, &:after { display: block; content: ""; height: 1px; background: lighten($gray,40%); position: absolute; left: -1000%; right: 100%; top: 50%; margin-top: -1px; }
    &:after { left: 100%; right: -1000%; }
  }
}

// MIXINS
  // More button
  @mixin moreButton($fgcolor: $black, $bgcolor: transparent, $fghover: $white, $bghover: $fgcolor) { display: inline-block; padding: 10px 15px; background: $bgcolor; color: $fgcolor; text-decoration: none; transition: 200ms; font-weight: $light; border: 0; text-transform: uppercase; font-weight: bold; border: 1px solid $fgcolor; letter-spacing: 1px; word-spacing: 4px;
    &:hover { background: $bghover; color: $fghover; border-color: $bghover; }
  }
  .t-MoreButton { @include moreButton; }
  
  // Headings
  @mixin h2 { margin: 0; font-size: rem-calc(16px); text-transform: uppercase; letter-spacing: 3px; }

// OBJECTS

  // Select form
  .t-input-Select { background: $gray; box-sizing: border-box; position: relative; display: inline-block; vertical-align: middle; overflow: hidden; transition: 200ms; backface-visibility: hidden; margin-right: 10px; 
    option { background: transparent; }
    &:hover { background: darken($gray,5%); 
      &:after { background-color: darken($gray,5%); }
    }
    &:active { transform: scale(0.97); transition: 60ms; }
    &:after { display: block; content: ""; position: absolute; width: 40px; height: 100%; line-height: 43px; font-size: em(12px); color: darken($white,40%); top: 0; right: 0; text-align: center; background: no-repeat center center; background-color: $gray ; pointer-events: none; transition: 200ms; }

    select { border: 0; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; padding: 9px 10px 8px; outline: none; cursor: pointer; color: darken($white,70%); display: block; background: $white; background: transparent; padding-right: 40px; display: block; }
    select[disabled] { color: rgba(0,0,0,.3); }
  }

// TEMPLATE
img { max-width: 100%; height: auto; }
a { cursor: pointer; }
.flowerOverlay { font-size: rem-calc(1200px); @include center(x); line-height: 0.6; bottom: 0; color: $black; opacity: 0.05; z-index: -1; 
  &--White { @extend .flowerOverlay; color: $white; opacity: 0.1; bottom: -200px; }
}
